:root {
    --cor1: #f5eedc;
    --cor5: #FFFFFF;
    --cor6: #0b0d12;
    --cor-roxo-bebe: rgba(247, 218, 255, 0.459);
    --cor-roxo-claro: rgb(88, 19, 105);
    --cor-roxo-escuro: rgb(119, 10, 119);
    --cor-roxo-dark: rgb(60, 16, 71);
    --corPreta: #000000;
    --corBranca: #FFFFFF;
}

html,
body {
    height: 100%;
    margin: 0;
    padding-top: 50px;
    background: #F1B6F2;
    background: linear-gradient(348deg, rgb(119, 10, 119) 0%, rgb(0, 0, 0) 49%);
    background-size: cover;
    background-repeat: no-repeat;
    /*p evitar repetição*/
    background-attachment: fixed;
    /*mantém fixo msm no rolar da pág*/
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-size: 1.1em;
    color: var(--corBranca);
    background-color: var(--cor-roxo-bebe);
}

footer {
    font-family: monospace;
}

#menuPaula {
   /* background: #8C1AD9;
    background: linear-gradient(348deg, rgba(140, 26, 217, 1) 0%, rgba(44, 42, 89, 1) 49%);*/
    background-color: var(--cor-roxo-dark); 
    padding: 1em;
}

.scroll {
    scroll-margin-top: 85px;
}


a.menuPaula {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.3s, color 0.3s;
    /* background-color: var(--cor-roxo-escuro); */
}


a.menuPaula:hover {
    background-color: var(--cor-roxo-dark);
    color: var(--corBranca);
    transform: scale(1.05);
    transition: transform 0.3s;
}

.foto {
    width: 350px;
    border-radius: 5%;
    border: solid;
    border-color: linear-gradient(348deg, rgba(140, 26, 217, 1) 0%, rgba(44, 42, 89, 1) 49%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--cor-roxo-escuro);
}

.namePaula {
    color: var(--cor-roxo-claro);
}

.cargoPaula {
    color: var(--cor-roxo-escuro);
    font-size: 1.5em;
}

div.hrBcg {
    background-color: var(--cor-roxo-escuro);
}

p.justificado {
    text-align: justify;
}

.tab {
    margin-left: 1em;
}


table {
    border-collapse: collapse;
    /*sem bordas*/
    width: 100%;
    padding: 0.5em;

}

#cabecalho {
    background-color: var(--cor-roxo-escuro);
    color: var(--corBranca);
    padding: 0.5em;
    text-align: center;
}



/*card portfolio bootstrap cards carrossel (pequeno)
d-flex flex-column flex-md-row elementos ao lado
*/

/**!important;/

/*:root {
    --cor-principal: rgba(64, 17, 13, 1);
    --cor-secundaria: rgba(140, 58, 58, 1);
    --cor-branca: #ffffff;
    --cor-preta: #000000;
    --cor-laranja: #ffa500;
    --cor-azul-escuro: #00008b;
  }*/


/*body {
    background-color: var(--cor-branca);
    color: var(--cor-preta);
  }
  
  h1 {
    color: var(--cor-principal);
  }
  
  button {
    background-color: var(--cor-laranja);
    color: var(--cor-branca);
  }
  
  a {
    color: var(--cor-azul-escuro);
  } */