:root {
    --cor6: #0b0d12;
    --cor-roxo-bebe: rgba(247, 218, 255, 0.459);
    --cor-roxo-claro: rgb(88, 19, 105);
    --cor-roxo-mais-claro: rgb(119, 10, 119);
    --cor-roxo-dark: rgb(60, 16, 71);
    --cor-roxo-dark2: rgb(42, 11, 49);
    --corPreta: #000000;
    --corBranca: #FFFFFF;
}

html,
body {
    scroll-behavior: smooth;
    /*rolagem suave*/
    height: 100%;
    margin: 0;
    padding-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-size: 1.1em;
    color: var(--corBranca);
    background-color: var(--corPreta);
}

.cards {
    background-color: var(--cor-roxo-dark2);
    color: var(--corBranca);
    text-align: justify;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#menuPaula {
    background-color: var(--cor-roxo-dark2);
    padding: 1em;
}

.scroll {
    scroll-margin-top: 85px;
}


a#menuPaula {
    color: var(--corBranca);
    text-decoration: none;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.3s, color 0.3s;
}

a#menuPaula:hover {
    background-color: var(--cor-roxo-dark);
    color: var(--cor1);
    border-radius: 2%;
}

.foto {
    width: 350px;
    border-radius: 5%;
    border: solid;
    border-color: var(--cor-roxo-bebe);
}

h1,
h2,
h3,
h4,
h6 {
    color: var(--corBranca);
    text-align: center;
    font-size: 1.5em;
    font-family: Tahoma, sans-serif;
    padding: 1em;
}

/*section-devider*/
h1,
h2,
h3,
h4,
h6 {
    background-color: var(--cor-roxo-dark2);
    color: var(--corBranca);
    border: none;
    padding: 10px 20px;
    font-size: 1.3em;
    text-decoration: none;
    border-radius: 5px;
    margin: 2rem 0;
}

h5 {
    color: var(--corBranca);
    text-align: center;
    font-size: 1.1em;
    padding: 1em;
}

#nomeForm,
#sobrenomeForm,
#emailForm,
#telefoneForm,
#turnoForm,
#linguagensForm,
#dataForm,
#arquivoForm,
#idiomaForm,
#mensagemForm,
#botaoForm,
#bancoDadosForm {
    color: var(--cor-roxo-dark2);
    font-size: 1em;
}

#formName {
    color: var(--cor-roxo-dark2);
    font-size: 1.7em;
}


label[for="dataEntrega"] {
    color: var(--cor-roxo-dark2);
    font-size: 1em;
}

/*estilo labels e banco*/
label[for="manha"],
label[for="tarde"],
label[for="noite"],
label[for="mysql"],
label[for="postgresql"],
label[for="mongodb"],
label[for="oracle"],
label[for="gridCheck"] {
    color: var(--cor-roxo-dark2); 
    font-size: 1em; 
}

input[type="checkbox"],
input[type="radio"] {
    accent-color: var(--cor-roxo-dark2); /*botao selecao*/
}

a {
    text-decoration: none;
    color: inherit;
    /*herdar cor preta do pai*/
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

/*table habilidades*/
#tabelaHabilidades {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    border-radius: 8px;
    overflow: hidden;
}

/*thead da table*/
#tabelaHabilidades thead tr {
    text-align: left;
    font-weight: bold;
}

/*cabecalho da table*/
#cabecalhoHabilidades th {
    background-color: var(--cor-roxo-dark2);
    color: var(--corBranca);
}

#tabelaHabilidades tbody tr:hover {
    cursor: pointer;
}

#tabelaHabilidades td,
#tabelaHabilidades th {
    padding: 12px 15px;
}

#tabelaHabilidades td {
    word-wrap: break-word;
}


#namePaula {
    color: var(--cor-roxo-bebe);
    text-shadow: var(--cor-roxo-claro) 0px 0px 1px;
    padding: 0.10em;
}

#cargoPaula {
    color: var(--corBranca);
    font-size: 1.5em;
    font-variant: small-caps;
    padding: 0.15em;
}

#sobrePaula {
    color: var(--corBranca);
    font-size: 1em;
    padding: 0.15em;
    text-align-last: auto;

}


p.justificado {
    text-align: justify;
}

footer {
    font-family: monospace;
    font-size: 0.8em;
    color: var(--cor-roxo-bebe);
    text-align: center;
    padding: 1em;
    background-color: var(--cor-roxo-dark2);
}

#btn-conheca {
    background-color: var(--cor-roxo-claro);
    color: var(--corBranca);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#maps {
    margin: 2rem 0;
}

/*!important;

 /* background: linear-gradient(348deg, rgb(119, 10, 119) 0%, rgb(0, 0, 0) 49%);
 background-size: cover;
 background-repeat: no-repeat;
 /*p evitar repetição
 background-attachment: fixed;
 /*mantém fixo msm no rolar da pág*/