body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titleExp {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(to right, #b8b8b8, #868686);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}

table, tr{ 
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(to right, #b8b8b8, #868686);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
    margin-left: 60px;
}